@using TMS.Models

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/AdminPanal.cshtml";
}



<div class="row">

        <div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Create New User</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                        <a href="#" class="btn btn-close btn-round btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    @using (Html.BeginForm("User"))
                    {
                        var usr = ViewBag.user == null ? new User() : ViewBag.user as User;
                         <input type="hidden"  name="Id" placeholder="User ID" value="@Html.Raw(usr.Id)">
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="FirstName"></label>
                            <input type="text" name="FirstName" class="form-control" id="FirstName" placeholder="First Name" value="@Html.Raw(usr.FirstName)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="LastName"></label>
                            <input type="text" name="LastName" class="form-control" id="LastName" placeholder="Last Name" value="@Html.Raw(usr.LastName)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="EmailId"></label>
                            <input type="text" name="EmailAddress" class="form-control" id="EmailId" placeholder="Email ID" value="@Html.Raw(usr.EmailAddress)">
                        </div>
                         <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="EmailId"></label>
                            <input type="password" name="Password" class="form-control" id="password" placeholder="Password" >
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="Phone"></label>
                            <input type="text" name="Phone" class="form-control" id="Phone" placeholder="Phone" value="@Html.Raw(usr.Phone)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="Mobile"></label>
                            <input type="text" name="Mobile" class="form-control" id="Mobile" placeholder="Mobile" value="@Html.Raw(usr.Mobile)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="Address"></label>
                            <input type="text" name="Address" class="form-control" id="Address" placeholder="Address" value="@Html.Raw(usr.Address)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="ContactPerson"></label>
                            <input type="text" name="ContactPerson" class="form-control" id="ContactPerson" placeholder="Contact Person" value="@Html.Raw(usr.ContactPerson)">
                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="SupervisorId"></label>
                            <select class="form-control" name="SupervisorId">
                                <option value="-1">Supervisor</option>
                                @foreach (var u in ViewBag.userList as List<User>)
                                {
                                    var su = ViewBag.user == null ? new User() : ViewBag.user as User;
                                    if (su.Id == u.Id)
                                    {
                                        <option value="@Html.Raw(u.Id)" selected="selected">@Html.Raw(u.FirstName)&nbsp;@Html.Raw(u.LastName) </option>
                                    }
                                    else
                                    {
                                        <option value="@Html.Raw(u.Id)">@Html.Raw(u.FirstName)&nbsp;@Html.Raw(u.LastName) </option>
                                    }

                                }
                            </select>

                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="DepartmentId"></label>
                            <select class="form-control" name="DepartmentId">
                                <option value="-1">Department</option>
                                @foreach (var d in ViewBag.DepartmentList as List<Department>)
                                {
                                    var su = ViewBag.user == null ? new User() : ViewBag.user as User;
                                    if (su.DepartmentId == d.Id)
                                    {
                                        <option value="@Html.Raw(d.Id)" selected="selected">@Html.Raw(d.DepartmentName)</option>
                                    }
                                    else
                                    {
                                        <option value="@Html.Raw(d.Id)">@Html.Raw(d.DepartmentName)</option>
                                    }
                                }
                            </select>

                        </div>
                        <div class="form-group" style="padding: 0px !important; margin: -15px 0px -15px 0px !important;">
                            <label for="Designation"></label>
                            <input type="text" name="Designation" class="form-control" id="Designation" placeholder="Designation" value="@Html.Raw(usr.Designation)">
                        </div>


                        <br />
                        <button type="submit" class="btn btn-default" style="margin: 0px 0px 0px 220px;">SAVE</button>
                    }
                       
                </div>
            </div>
        </div>
        
            <div class="box col-md-6">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-user"></i> User Details</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">

                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                            <thead>
                                <tr>

                                    <th style="width:55%">Name</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var user in ViewBag.userList as List<User>)
                            {
                                <tr>
                                    <td class="center">@Html.Raw(user.FirstName)&nbsp;@Html.Raw(user.LastName) </td>
                                    <td class="center">

                                        <a style="height: 26px; padding: 3px 19px 0px 20px;" class="btn btn-info" href='@Url.Action("User", "Admin",new{Id=user.Id})'>
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            Edit
                                        </a>
                                        <a style="height: 26px; padding: 3px 20px 0px 20px;" class="btn btn-danger" href="@Url.Action("UserDelete", "Admin", new { Id = user.Id })">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div><!--/row-->
        <!--/span-->
   
